@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Global styles to prevent unwanted scrolling */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Lato", ui-sans-serif, system-ui, sans-serif;
}
